body {
  margin:0;
  padding:0;
}
.list {
	position: absolute;
	z-index: 1;
  margin-top: 25px;
  margin-left: 5px;
	color: rgba(50, 50, 150, 0.8);
	background-color: rgba(100, 50, 50,0.5);
  padding-top: 10px;
	padding: 10px;
  list-style-type: none;
  height:300px;
  width:200px;
  overflow-y: scroll;
  cursor:pointer;
}

li:hover {
  color:black;
  background-color: rgba(50, 50, 50,0.1);
  cursor: pointer;
}
.search {
  position:fixed;
  margin-top:5px;
  margin-left:5px;
  width:200px;
}
